.body-class {
    background-color: #10354d;
    font-family: Comic Sans MS, sans-serif;
}
.header-class {
    background-color: navy;
    color: white;
    padding: 10px;
}
.nav-class {
    background-color:  #1f7db8;
    color: #fff;
}
.nav-class a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}
.nav-class a.active {
    font-weight: bold;
}
.title-class {
    color: silver;
}
.section-title-class {
    color: #4f03ab;
}
.text-class {
    color: #f7f5f5;
}
.image-class {
    border: 2px solid #2E86C1;
}
.form-class {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}
.button-class {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.button-class:hover {
    background-color: #45a049;
}
.footer-class {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
@media (max-width: 768px) {
    .nav-class {
        display: block;
    }  
    .form-class {
        width: 100%;
    }
    .image-class {
        width: 100%;
        height: auto;
    }
}
